/*Project Name: JavaJam Coffee House (HW9)Author: Alyssa GarciaDate Last Modified: April 3, 2019*//*Set the body*/body {	background-image: url(background.gif);
	background-color: #FCEBB6;
	color: #221811;
	font-family: Verdana, Arial, sans-serif;
}

/* Set the header background */header { background-color: #D2B48C;
         color: #000000;       	height: 150px;
	background-image: url(javajamlogo.jpg);
	background-repeat: no-repeat;}

/* Set h1 element */h1 { padding-top: 45px;
	padding-left: 220px;
	font-size: 3em;
}

/*Set nav element */
nav { 	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
	padding-top: 10px;
	text-decoration: none;
}
/*set h4 element*/
h4 { background-color: #D2B48C;
	font-size: 1.2em;
	padding-left: .5em;
	padding-bottom: .25em;
}
/*set main element*/
main { padding-left: 2em;
	padding-right: 2em;
	padding-bottom: 2em;
}

/*set footer */
footer { background-color: #D2B48C;
	font-size: .600em;
	font-style: italic;
	text-align: center;
	padding-bottom: 10px;
	border-top: 2px solid #221811;
}

/*set wrapper id*/
#wrapper { background-color:#FEF6C2;
	margin-left: auto;
	margin-right: auto;
	min-width: 900px;
	max-width:1280px;
	box-shadow: 5px 5px 5px #1e1e1e;
}

/* style all elements with class="details"*/
.details { padding-left: 20%;
	padding-right: 20%;
}

/* set img element*/
img { padding-left: 10px;
	padding-right: 10px;
}
